<!DOCTYPE html>
<html>
<head>
  <title>Let's Chime In</title>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', cache: true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script>
    <% if logged_in? %>
      var client = "<%= current_user.username %>";
      localStorage.setItem("client", client);
    <% else %>
      localStorage.removeItem("client");
    <% end %>
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
